* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    padding: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 5px;
}

.column1 {
    background-color: #f9f9f9;
}

.column2 {
    background-color: #e9e9e9;
}

.column3 {
    background-color: #d9d9d9;
}