body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #000000;
}

h1 {
    color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

.error { 
    color: red; 
    border: 2px solid red;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form button {
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

td button{
    background-color: #16be3b;
}

td button:hover {
    background-color: #218838;
}

button:hover{
    background-color: #1b5fa8;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
